// Define variables for your color scheme

// For example:
// $light-red: #FF000080;
$red: #FF0000;
$dark-red: #CC0000;
$dark-blue: #363B81;
$blue: #375CAA;
$light-blue: #98adda;
$yellow: #FFCC01;
$dark-yellow: #B3A125;
$orange: #E67E22;
$green: #1EDD88;
$gray: #383535;
$medium-gray: #b9b8b8;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$maroon: #776258;
$blue-pokedex: #4F99F7;
$blue-shadow-pokedex: #0E3AD3;
$grey-pokedex: #FCFAFC;
$grey-pokedex-border: #B1B0B1;
$grey-pokedex-text:#383535;
$green-pokedex:#73F340;
$green-pokedex-shadow: #377B1B;
$orange-pokedex:#EF6537;
$orange-pokedex-shadow:#B72925;
$red-pokedex: #ED4845;

.water {
  color: $blue;
}

.fire, .electric {
  color: $yellow;
}

.psych {
  color: $dark-yellow;
}

.plant {
  color: $green;
}

.earth {
  color: $maroon;
}
