// Define variables for your color scheme

// For example:
$red: #FF0000;
$dark-red: #CC0000;
$dark-blue: #363B81;
$blue: #375CAA;
$light-blue: #98adda;
$yellow: #FFCC01;
$dark-yellow: #B3A125;
$orange: #E67E22;
$green: #1EDD88;
$gray: #383535;
$medium-gray: #b9b8b8;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$maroon: #776258;

.water {
  color: $blue;
}

.fire, .electric {
  color: $yellow;
}

.psych {
  color: $dark-yellow;
}

.plant {
  color: $green;
}

.earth {
  color: $maroon;
}
