<div class="footer">
  <h6>Follow us on Social Media</h6>
  <ul class="social-media">
    <li class="inline"><i class="fab fa-facebook-f"></i></li>
    <li class="inline"><i class="fab fa-instagram"></i></li>
    <li class="inline"><i class="fab fa-twitter"></i></li>
    <li class="inline"><i class="fab fa-github-alt"></i></li>
  </ul>
  <hr>
  <ul class="footer-info">
    <p><li class="footer-text">     </li></p>
    <p><li class="footer-text size">© 2021 PokeLab, inc</li></p>
    <p><li class="footer-text"> | </li></p>
    <p><li class="footer-text size">Conditions Générales</li></p>
    <p><li class="footer-text"> | </li></p>
    <p><li class="footer-text size">Company details</li></p>
    <p><li class="footer-text"> | </li></p>
    <p><li class="footer-text size">Contact us</li></p>
    <p><li class="footer-text">     </li></p>
  </ul>
</div>