 <form action="/pokemons" class="flex-form">

      <input type="search-location" name ="location" placeholder="Location" />

      <input type="search-pokemon" name ="pokemon_name" placeholder="Pokemon" />

      <label for="from">From</label>
      <input type="date" name="from" placeholder="Location" />

      <label for="to">To</label>
      <input type="date" name="to" />

      <select name="category" id="type">
        <option value="">All</option>
        <option value="Water">Water</option>
        <option value="Fire">Fire</option>
        <option value="Fire">Electric</option>
        <option value="Earth">Earth</option>
        <option value="Psych">Psych</option>
        <option value="Plant">Plant</option>
      </select>

        <input type="submit" value="Search" />

    </form>
