
<div class="banner">

   <%= render "shared/search_form" %>

</div>

<div class="btn-container-home">
  <button class="btn btn-shoot"><%= link_to "Get a random Pokemon", pokemons_path %></button>
</div>

<div class="container-home">
  <div class="cards">
    <div class="home-card lifting-card">
      <p>Help you with heavy stuffs</p>
      <hr>
    </div>
    <div class="home-card flying-card">
      <p>Enjoy true freedom</p>
      <hr>
    </div>
    <div class="home-card travelling-card">
      <p>Travel in hazardous places</p>
      <hr>
      </div>
    <div class="home-card sleeping-card">
      <p>Just enjoy a cozy day</p>
      <hr>
    </div>
  </div>

  <div class="card-owner">
    <h2>Rent your Pokemon</h2>
    <p>Earn money, help the community, allow your pokemon to enjoy new adventures</p>
    <button class="btn btn-know-more ">Know more</button>
  </div>
</div>
