<div class="banner">

    <form action="/pokemons" class="flex-form">

      <input type="search" name ="search" placeholder="Location" />

      <label for="from">From</label>
      <input type="date" name="from" placeholder="Location" />

      <label for="to">To</label>
      <input type="date" name="to" />

      <select name="type" id="type">
        <option value="0">All</option>
        <option value="1">Water</option>
        <option value="2">Fire</option>
        <option value="3">Earth</option>
        <option value="4">Psych</option>
        <option value="5">Plant</option>
      </select>

        <input type="submit" value="Search" />

    </form>


      <div class="btn-container">
        <button class="btn btn-shoot">Get a random Pokemon</button>
      </div>


</div>

<div class="container-home">
  <div class="cards">
    <div class="home-card lifting-card">
      <p>Help you with heavy stuffs</p>
      <hr>
    </div>
    <div class="home-card flying-card">
      <p>Enjoy true freedom</p>
      <hr>
    </div>
    <div class="home-card travelling-card">
      <p>Travel in hazardous places</p>
      <hr>
      </div>
    <div class="home-card sleeping-card">
      <p>Just enjoy a cozy day</p>
      <hr>
    </div>
  </div>

  <div class="card-owner">
    <h2>Rent your Pokemon</h2>
    <p>Earn money, help the community, allow your pokemon to enjoy new adventures</p>
    <button class="btn btn-know-more ">Know more</button>
  </div>
</div>
