<div class="banner">
</div>

<div class="container">
  <div class="cards">
    <div class="home-card flying-card">
      <p>Help you with heavy stuffs</p>
    </div>
    <div class="home-card flying-card">
      <p>Enjoy true freedom</p>
    </div>
    <div class="home-card flying-card">
      <p>Travel in hazardous places</p>
      </div>
    <div class="home-card flying-card">
      <p>Just enjoy a cozy day</p>
    </div>
  </div>

  <div class="card-owner">
    <h3>Rent your Pokemon</h3>
    <p>Earn money help the community, allow your pokemon to enjoy new adventures</p>
  </div>

</div>
