// .btn {
//   border-radius: 8px;
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   width: 50%;
// }

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container-home {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 80px;
}

.btn-shoot {
  background-color: $red;
  margin: auto auto;
  border-radius: 8px;
  margin-top: 8px;
  padding: 15px;
  font-weight: bold;
  color: white;
  font-size: 18px;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: $dark-red;
    color: white;
  }
}
.btn-know-more {
  color: $blue;
  background-color: $yellow;
  &:hover {
    color: $blue;
    background-color: rgb(214, 214, 137);
  }
}

.btn-return {
  width: 24px;
  height: 8px;
  padding: 15px;
  a {
      color: $blue;
      font-size: 38px;
    }
}

.add-pokemon {
  width: 150px;
  padding: 0px 13px;
  border-radius: 8px;

  &:hover {
    opacity: 0.5;
  }
  a {
    color: $green;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
  }
}

