.container {
  margin: 0 auto;
  width: 95%;
}

.container-home {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.custom-container {
  min-height: calc(100vh - 208px);
  padding-top: 86px;
}

.container-form {
  margin-top: 100px;
}

.container-index {
  display: flex;
}


