.container {
  margin: 0 auto;
  width: 95%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.custom-container {
  min-height: calc(100vh - 208px);
  padding-top: 86px;
}

.container-form {
  margin-top: 100px;
}


